{{!-- <div class="category-js"> </div> --}}

{{#each this}}
<li class="category-card sliders-item">
    <img class="category-card__img" src="{{imageUrl}}" alt="photo {{title}}">
    <p class="category-card__name">{{title}}</p>
    <div class="category-card__prices">
        <p class="category-card__price--new">{{price}}</p>
    </div>
</li>
{{/each}}