<span class="sign-in-up__user"></span>
<button id="loggedUser__carts" class="sign-in__btn myPage" data-btn="signin">Мой кабинет</button>
<span class="sign-in-up__stick"></span>
<button id="loggedUser__exit" class="sign-up__btn" data-btn="signup">
    <span class="sign-in-up__exit"></span>
    Exit</button>